/** Blockquote **/
blockquote {
    border-left: 5px solid #ffa726 !important;
}

.multiValueSuggestBox-panel:focus {
    border-bottom: 2px solid #ffa726 !important;
}

/** Image Slider **/
.slider .indicators .indicator-item.active {
    background-color: #ff9800;
}

/**SCROLLSPY**/
.table-of-contents a.active {
    border-left: 2px solid #ff9800 !important;
}

.table-of-contents a:hover {
    border-left: 1px solid #ff9800 !important;
}

.progress div {
    background-color: #fb8c00;
}
