/**
* Variables
**/
/**
* Address Lookup
**/
.pac-container {
  background-color: #2f2f2f;
  color: white !important;
  border-top: 1px solid #222222; }

.pac-item {
  border-top: 1px solid #393939;
  color: #8f8f8f; }

.pac-item:hover {
  background-color: #353535; }

.pac-item-query {
  color: #fff; }

/**
* CheckMark
**/
.sa-icon.sa-success::before,
.sa-icon.sa-success::after {
  background-color: #292929; }

.sa-icon.sa-success .sa-fix {
  background-color: #292929; }

/**
* Date Range Picker
**/
.daterangepicker,
.daterangepicker .calendar-table,
.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
  background-color: #2e3033;
  border-color: #2e3033; }

.daterangepicker:after {
  border-bottom: 6px solid #2e3033; }

.daterangepicker:before {
  border-bottom: 7px solid #2e3033; }

.daterangepicker.drop-up:before {
  border-top: 7px solid #2e3033; }

.daterangepicker.drop-up:after {
  border-top: 6px solid #2e3033; }

.daterangepicker th.month {
  color: #ffffff; }

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  border: solid white;
  border-width: 0 2px 2px 0; }

.daterangepicker .drp-buttons {
  border-top: 1px solid #3d3d3d; }

.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.in-range.active:not(.off) {
  background-color: #bb86fc;
  color: #292929; }

.daterangepicker td:not(.active).available:hover,
.daterangepicker th.available:hover {
  background-color: #2e3033; }

.daterangepicker td.available:hover:after {
  border: 2px solid #bb86fc; }

.daterangepicker td.in-range,
.daterangepicker td.available.in-range:hover:not(.active) {
  background-color: rgba(187, 134, 252, 0.08);
  color: #bb86fc; }

button.cancelBtn {
  color: #bb86fc; }

.daterangepicker:not(.single) .drp-buttons {
  background-color: #2e3033; }

.daterangepicker .calendar-time {
  background: #292929;
  border: 1px solid #292929; }

.daterangepicker .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: white; }

.date-range-picker .select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-results__option[aria-selected=true],
.date-range-picker .select2-results__option {
  background: #2f2f2f; }

.date-range-picker .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #292929; }

.daterangepicker .select2-container--disabled .select2-selection__rendered {
  color: #9c9c9c !important; }

/**
* Ranges
**/
.daterangepicker .ranges li.active {
  background-color: #bb86fc !important;
  color: #000000; }

.daterangepicker .ranges li:not(.active):hover {
  background-color: #292929; }

.daterangepicker .ranges li:hover {
  background-color: #292929; }

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 1px solid #292929 !important; }

/**
* Group Toggle
**/
.group-toggle-button .wrapper {
  background: #424242; }

.group-toggle-button .wrapper button.active,
.group-toggle-button .wrapper button:not(.active):hover {
  background: #bb86fc;
  color: #1e1e1e; }

.group-toggle-button .wrapper button:not(.active):hover {
  background-color: #525252; }

.group-toggle-button .wrapper button {
  color: #8e8e8e;
  background-color: #424242;
  border-right: 1px solid #292929; }

/**
* Inline Search
**/
nav .nav-wrapper ul li:hover .inline-search i {
  background-color: transparent !important; }

/**
* Kanban
**/
.kanban-board {
  background: #2f2f2f;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.kanban-item {
  background: #1e1e1e; }

/**
* Content Placeholder
**/
.content-placeholder {
  display: inline-block;
  width: 100%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #454545), color-stop(18%, #555555), color-stop(33%, #444444));
  background: -webkit-linear-gradient(left, #454545 8%, #555555 18%, #444444 33%);
  background: linear-gradient(to right, #454545 8%, #555555 18%, #444444 33%);
  -webkit-background-size: 800px 104px;
  background-size: 800px 104px;
  height: inherit;
  position: relative; }

/**
* Progress Line Bar
**/
.progress-line-bar .progress-item.active {
  background: #bb86fc !important; }

.progress-item {
  border-right: 1px solid #292929 !important;
  background: #3e3e3e !important; }

/**
* Screen Keyboard
**/
.simple-keyboard {
  background-color: #515151; }

.simple-keyboard .hg-button {
  background: rgba(0, 0, 0, 0.5);
  color: white; }

.simple-keyboard .hg-button:active {
  background: #bb86fc;
  color: white; }

.simple-keyboard + .simple-keyboard-preview {
  background: #bb86fc; }

/**
* Tag Label
**/
.tag-label {
  background: #2f2f2f;
  color: #ffffff; }

.tag-label.arrow-left:before {
  border-color: transparent #2f2f2f transparent; }

.tag-label.arrow-right:after {
  border-color: transparent transparent transparent #2f2f2f !important; }

/**
* Timer Progress
**/
.timer-progress {
  background-color: rgba(187, 134, 252, 0.1); }

.timer-progress.bouncing .fill {
  background: #bb86fc; }
