/* ==========================================================================
   OVERRIDE CSS STYLES
   ========================================================================== */

/**
* Badge
**/
nav ul a span.badge {
  margin-left: 8px !important;
  float: right;
  margin-top: 22px;
}

.side-nav span.badge {
  float: right;
  top: 22px;
  height: $sidenav-badge-height !important;
  line-height: 0 !important;
  padding: 10px !important;
  color: #fff !important;
  border-radius: $sidenav-badge-border-radius !important;
  font-size: $sidenav-badge-font-size !important;
}

span.badge.circle {
  position: absolute;
  min-width: 0;
  border-radius: 100%;
  height: $badge-circle-height;
  top: -12px;
  width: $badge-circle-width;
  font-size: 0.6rem;
  text-align: center;
  padding: 12px 0 0;
  right: 8px;
}

span.badge > div:first-child {
  display: inline;
}

nav ul a span.badge:not(.circle) {
  line-height: 22px;
}

span.badge {
  background: $badge-bg-color;
}