/* ==========================================================================
   OVERRIDE CSS STYLES
   ========================================================================== */

/**
* Badge
**/
nav ul a span.badge {
  margin-left: 8px !important;
  float: right;
  margin-top: 22px;
}

.side-nav .badge {
  float: right;
  top: 22px;
}

.sideBarBadge {
  height: $sidenav-badge-height !important;
  line-height: 0 !important;
  padding: 10px !important;
  color: #fff !important;
  border-radius: $sidenav-badge-border-radius !important;
  font-size: $sidenav-badge-font-size !important;
}

.badge.circle {
  position: absolute;
  min-width: 0 !important;
  border-radius: 100% !important;
  height: $badge-circle-height !important;
  top: -12px;
  width: $badge-circle-width;
  font-size: 0.6rem !important;
  text-align: center;
  padding: 0 !important;
  padding-top: 12px !important;
  right: 8px;
}

.badge > div:first-child {
  display: inline;
}

.badge {
  background: $badge-bg-color;
}