/**
* Button
**/
button.btn-flat:focus {
  outline: none;
  background-color: transparent;
}

button.disabled,
i.disabled,
a.disabled {
  background-color: #DFDFDF !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: #9F9F9F !important;
  cursor: default !important;
  transition: none !important;
  pointer-events: none;
}

i.disabled,
a.disabled,
a.disabled i {
  color: #9F9F9F !important;
  background-color: transparent !important;
}

button.disabled:hover,
i.disabled:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.disabled:hover {
  cursor: default !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

/**
* Outlined Button (MD2)
**/
button.btn-outlined,
button.btn-outlined:hover,
button.btn-outlined:focus,
button.btn-outlined:active {
  border: $button-outlined-border;
  box-shadow: $button-outlined-box-shadow;
  background-color: $button-outlined-bg-color;
  color: $button-outlined-text-color;
}

button.btn-outlined.disabled {
  background-color: $button-outlined-disabled-bg-color !important;
}

/**
* Ghost Button
**/
button.btn-ghost, button.btn-ghost:focus {
  padding: $button-ghost-padding;
  border-radius: $button-ghost-border-radius;
  color: $button-ghost-text-color;
  font-size: $button-ghost-font-size;
  font-weight: 400;
  background: $button-ghost-bg-color;
  height: $button-ghost-height;
  text-transform: uppercase;
  border: $button-ghost-border;
  outline: 0;
  -webkit-transition: all .16s linear;
  -moz-transition: all .16s linear;
  -o-transition: all .16s linear;
  transition: all .16s linear;
}

button.btn-ghost.disabled {
  border: none;
}

button.btn-ghost:hover, button.btn-ghost:active {
  background: $button-ghost-active-bg-color;
  color: $button-ghost-active-text-color;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}