/**
* Collapsible
**/
.collapsible-body {
  margin: 0;
  padding: 2rem;
}

.collapsible li.active .collapsible-body .input-field label {
  font-size: 0.8rem;
  transform: translateY(-140%);
}

.collapsible-header > i {
  font-size: 1.4rem !important;
  line-height: 2.5rem !important;
  width: 3rem !important;
  margin: 0 !important;
}
