/**
* InputField - Outlined
**/
.input-field input:read-only {
  pointer-events: none;
}

.input-field label {
  left: 0 !important;
}

.input-field label.required:before,
.input-field label span.required:before {
  content: $input-required-indicator;
  float: right;
  margin-left: 8px;
  font-size: $input-required-indicator-font-size;
  color: $error-color;
}

.input-field.disabled label.required:before,
.input-field.disabled label span.required:before,
.input-field.listbox-wrapper label.disabled:before {
  display: none;
}

.col .input-field label {
  left: 0px;
}

.row .col.input-field {
  min-height: 72px;
  margin-bottom: 0px;
}

.row .col.input-field textarea {
  margin-bottom: 4px;
}

.row .col.input-field input {
  margin-bottom: 8px;
}

.row > .input-field label {
  left: 0.75rem !important;
}

@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}

/**
* IE Fixed for having the huge clear button
**/
.input-field input::-ms-clear {
  display: none;
}

/**
* Autofill fixed layout
**/
input:-webkit-autofill + label {
  font-size: 0.8rem !important;
  transform: translateY(-112%);
}

nav .input-field {
  height: 100%;
}

input:-webkit-autofill {
  -webkit-animation-name: autofill !important;
  -webkit-animation-fill-mode: both !important;;
}

/**
* Type[number] spinner fixed for firefox and safari
**/
.input-field.disabled input[type=number]::-webkit-inner-spin-button,
.input-field.disabled input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field.disabled input[type=number] {
  -moz-appearance: textfield;
}

.input-field.disabled input[type="number"]:focus {
  color: rgba(0, 0, 0, 0.26);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.input-field.disabled label {
  color: rgba(0, 0, 0, 0.6) !important;
}

/**
* Aligned Label
**/
.input-field.aligned-label input {
  width: $input-aligned-label-input-width;
  display: inline;
  position: relative;
  vertical-align: middle;
}

.input-field.aligned-label label,
.input-field.aligned-label label.active {
  width: $input-aligned-label-text-width;
  display: inline;
  position: relative;
  float: left;
  vertical-align: middle;
  transform: none;
  font-size: 1em;
  color: rgba(0, 0, 0, .87);
  top: 24px;
}

.input-field.aligned-label .field-error-label,
.input-field.aligned-label .field-success-label,
.input-field.aligned-label .field-helper-label {
  padding-left: 30%;
}

.input-field.filled input,
.input-field.outlined input {
  padding: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.input-field.filled label,
.input-field.outlined label {
  margin-left: 12px;
}

.input-field.filled label:active,
.input-field.outlined label:active {
  margin-left: 8px;
}

/**
* With Icons
**/
.input-field.filled .prefix ~ input,
.input-field.filled .prefix ~ textarea,
.input-field.outlined .prefix ~ input,
.input-field.outlined .prefix ~ textarea {
  margin-left: 0px;
  padding-left: 56px !important;
  width: 100%;
}

.input-field.filled .prefix,
.input-field.outlined .prefix {
  padding-top: 6px;
  padding-left: 8px;
  color: #757575;
}

/**
* Filled Type
**/
.input-field.filled input,
.input-field.filled textarea {
  background: $input-filled-bg-color;
  border-radius: 4px 4px 0px 0px;
  padding-top: 18px;
}

.input-field.filled.disabled input,
.input-field.filled.disabled textarea,
.input-field.filled.listbox-wrapper input.select-dropdown[disabled] {
  background: transparent;
}

.input-field.filled textarea,
.input-field.outlined textarea {
  padding-left: 12px;
  width: calc(100% - 24px);
  padding-right: 12px;
}

.input-field.filled input:focus {
  background: $input-filled-bg-color-focus;
}

.input-field.filled label.active {
  -webkit-transform: translateY(-64%);
  -moz-transform: translateY(-64%);
  -ms-transform: translateY(-64%);
  -o-transform: translateY(-64%);
  transform: translateY(-64%);
}

.input-field.filled.listbox-wrapper input.select-dropdown {
  background: $input-filled-bg-color;
  border-radius: 4px 4px 0px 0px;
  padding-left: 12px;
  padding-top: 12px;
}

.input-field.filled.listbox-wrapper label {
  padding-top: 14px;
}

.input-field.filled .field-error-label,
.input-field.filled .field-success-label,
.input-field.filled .field-helper-label {
  padding-left: 12px;
}

/**
* Outlined Type
**/
.input-field.outlined input,
.input-field.outlined input.valid,
.input-field.outlined textarea,
.input-field.outlined input.select-dropdown {
  border-radius: 4px;
  border: 1px solid $input-outlined-border-color;
}

.input-field.outlined input.select-dropdown {
  padding-left: 12px;
}

.input-field.outlined .select-wrapper + label {
  top: -10px;
  background: white;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 8px;
}

.input-field.outlined input:focus,
.input-field.outlined textarea:focus,
.input-field.outlined input.picker__input--active {
  border: 2px solid $input-outlined-border-color-active;
  box-shadow: none;
}

.input-field.outlined label.active,
.input-field.outlined input:-webkit-autofill + label {
  padding: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: white;
  margin-top: 4px;
  margin-left: 8px;
  z-index: 1;
}

.modal .input-field.outlined label.active,
.modal .input-field.outlined .select-wrapper + label,
.modal .input-field.outlined input:-webkit-autofill + label {
  background-color: #fafafa;
}

.input-field.outlined.field-error input.select-dropdown,
.input-field.outlined input.invalid,
.input-field.outlined input.invalid:focus,
.input-field.outlined textarea.invalid,
.input-field.outlined textarea.invalid:focus,
.input-field.outlined input.invalid.picker__input--active {
  border: 2px solid $error-color;
  box-shadow: none;
  margin-bottom: 8px;
}

.input-field.outlined.field-success input.select-dropdown,
.input-field.outlined input.valid,
.input-field.outlined input.valid:focus,
.input-field.outlined textarea.valid,
.input-field.outlined textarea.valid:focus,
.input-field.outlined input.valid.picker__input--active {
  border: 2px solid $success-color;
  box-shadow: none;
}

.input-field.outlined .field-error-label,
.input-field.outlined .field-success-label,
.input-field.outlined .field-helper-label {
  margin-left: 14px;
}

.input-field.field-error.listbox-wrapper.outlined input.select-dropdown {
  border: 2px solid $error-color;
}

/**
* TextArea
**/
.input-field.aligned-label textarea {
  width: $input-aligned-label-input-width;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

/**
* ListBox
**/
.input-field.listbox-wrapper input:read-only {
  pointer-events: initial;
}

.input-field .select-wrapper.gwt-ListBox + label.active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.input-field .select-wrapper.gwt-ListBox .caret:before {
  content: "";
  position: absolute;
  right: 8px;
  bottom: 12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $input-select-caret-border-width;
  border-color: transparent transparent $input-select-caret-color;
}

.input-field.aligned-label .select-wrapper.gwt-ListBox .caret:before {
  bottom: 26px;
}

.input-field .select-wrapper.gwt-ListBox .caret.disabled:before {
  border-color: transparent transparent #c7c7c7 transparent;
}

.input-field .select-wrapper.gwt-ListBox .caret.disabled,
.input-field .select-wrapper .caret {
  color: transparent;
  bottom: 0;
}

.input-field.listbox-wrapper {
  border-bottom: none !important;
  box-shadow: none !important;
}

.field-error.input-field.listbox-wrapper input.select-dropdown {
  border-bottom: 1px solid $error-color !important;
  box-shadow: 0 1px 0 0 $error-color !important;
}

.field-success.input-field.listbox-wrapper input.select-dropdown {
  border-bottom: 1px solid $success-color !important;
  box-shadow: 0 1px 0 0 $success-color !important;
}

/**
* ListBox - AlignedLabel
**/
.input-field.aligned-label .select-wrapper {
  width: $input-aligned-label-input-width;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

/**
* ListBox - Fixed for Safari9+ Issue with Blinking Indicator on IOS Devices
* Read More - https://stackoverflow.com/questions/38848742/material-select-blinking-on-ios
**/
input.select-dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.input-field.outlined input:focus,
.input-field.outlined textarea:focus,
.input-field.outlined input.picker__input--active {
  border: 2px solid $input-outlined-border-color-active;
  box-shadow: none;
}

.input-field.hoverable-status.listbox-wrapper.field-error .caret,
.input-field.hoverable-status.listbox-wrapper.field-success .caret {
  display: none;
}

/**
* Blockquote
**/
blockquote {
  border-left: $blockquote-border-left;
}

/**
* CheckBox
**/
[type="checkbox"]:not(:checked ),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.oldCheckBox input {
  position: initial !important;
  opacity: 0 !important;
}

.oldCheckBox input {
  position: initial !important;
  opacity: 0 !important;
}

/**
* ReadOnly States
**/
.read-only-toggle input:hover {
  cursor: text;
  box-shadow: 1px 1px #e9e9e9;
}

.read-only input,
.read-only textarea {
  border: none !important;
  box-shadow: none !important;
  color: #000 !important;
}

.read-only label {
  top: 12px !important;
  -webkit-transform: translateY(-140%) !important;
  transform: translateY(-140%) !important;
  font-size: 0.8em !important;
  color: #9e9e9e !important;
}

.read-only .select-wrapper .caret {
  display: none !important;
}

/**
* Search
**/
.input-field input[type=search] + label {
  left: 1rem !important;
}

/**
* Search Result
**/
.input-field input[type=search] {
  margin-bottom: 0;
  height: 100%;
}

.search-result {
  margin: 0;
  border-top: 1px solid $input-search-border-color;
  background-color: $input-search-bg-color;
  max-height: $input-search-height;
  overflow: auto;
  z-index: 995;
  position: relative;
}

.search-result a {
  display: block;
  border-bottom: 1px solid $input-search-border-color;
  padding-left: 20px;
}

.search-result a span {
  margin-left: 0px;
}

.search-result a:hover,
.search-result a.higlighted {
  background-color: $input-search-highlight-color;
}

.search-result a img {
  width: 52px;
  margin-top: 5px;
  float: left;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  height: 52px;
}

/**
* Switch
**/
.switch label input[type=checkbox]:checked + .lever.disabled {
  background-color: #D4D4D4;
}

/**
* Range Slider
* Fixed for IE issue with multiple indicator https://github.com/GwtMaterialDesign/gwt-material/issues/815
**/
::-ms-tooltip {
  display: none;
}

input[type=range]::-ms-fill-lower {
  background-color: #deddde !important;
}

.range-field {
  padding-top: 12px;
}

.no-thumb .range-field .thumb {
  display: none;
}

input[type=range] {
  border: none;
  color: transparent;
  margin: 0px !important;
}

input[type=range]::-webkit-slider-thumb {
  position: relative;
  z-index: 2;
  transform: translateY(0px);
}

input[type=range]:hover::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px 8px $range-field-progress-ring-color;
  -moz-box-shadow: 0px 0px 0px 8px $range-field-progress-ring-color;
  box-shadow: 0px 0px 0px 8px $range-field-progress-ring-color;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: transparent !important;
  margin-top: -20px;
}

.range-field .progress-container {
  height: 4px;
  background-color: #e9e9e9;
  position: relative;
  z-index: -1;
  top: -18px;
}

.range-field .progress {
  background-color: $range-field-progress-fill-color;
  position: absolute;
  top: -7px;
  z-index: 1;
  transition: none !important;
}

/** Range Firefox support **/
input[type=range]::-moz-range-track {
  border: none;
  height: 0px;
}

input[type=range]::-moz-range-thumb {
  transform: translateY(0px);
}

input[type=range]:hover::-moz-range-thumb {
  -webkit-box-shadow: 0px 0px 0px 8px rgba(66, 165, 245, 0.2);
  -moz-box-shadow: 0px 0px 0px 8px rgba(66, 165, 245, 0.2);
  box-shadow: 0px 0px 0px 8px rgba(66, 165, 245, 0.2);
}

/** Range IE Support **/
input[type=range]::-ms-track {
  height: 32px;
  position: absolute;
  background: transparent;
  border: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  border: none;
  height: 0px;
  background: transparent;
}

input[type=range]::-ms-thumb {
  transform: translateY(18px);
  margin-bottom: 22px;
}

/** Copy to Clipboard **/
.copy-command {
  position: absolute;
  top: 8px;
  right: -20px;
  z-index: 999;
}

.input-field:hover i.copy-command.on-readonly-hover,
.input-field:hover i.copy-command.on-always-hover {
  opacity: 1;
}

i.copy-command.on-readonly-hover,
i.copy-command.on-always-hover {
  opacity: 0;
  transition: 400ms;
}