/**
* Progress
*/
.progress {
  background-color: $progress-bar-bg-color;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
}

.progress div {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  background-color: $progress-bar-color;
}