/**
* Tabs
**/

ul.tabs {
  overflow: hidden !important;
}

ul.tabs .tab a i {
  margin-top: 12px;
  padding-left: 36%;
}

ul.tabs .tab a span:nth-child(2) {
  float: left;
}

ul.tabs .tab.disabled {
  opacity: 0.5;
}

ul.tabs .tab a i,
.tabs .tab a span {
  float: none !important;
  display: inline-block;
  vertical-align: top;
}

ul.tabs .tab a i {
  padding-left: 0;
}

.tabs {
  background: $tabs-wrapper-bg-color;
}

/** Tabs Focusable **/
.tabs .tab a:before {
  opacity: 0;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
  left: calc(50% - 50px);
  transform: scale(0);
  transition: 200ms;
}

.tabs .tab a:hover:before,
.tabs .tab a:focus:before {
  opacity: 1;
  transform: scale(1.5);
}
