/** Blockquote **/
blockquote {
    border-left: 5px solid #66bb6a !important;
}

.multiValueSuggestBox-panel:focus {
    border-bottom: 2px solid #66bb6a !important;
}

/** Image Slider **/
.slider .indicators .indicator-item.active {
    background-color: #4caf50;
}

/**SCROLLSPY**/
.table-of-contents a.active {
    border-left: 2px solid #4caf50 !important;
}

.table-of-contents a:hover {
    border-left: 1px solid #4caf50 !important;
}

.progress div {
    background-color: #7cb342;
}
