/** Blockquote **/
blockquote {
	border-left: 5px solid #ab47bc !important;
}

.multiValueSuggestBox-panel:focus {
	border-bottom: 2px solid #ab47bc !important;
}

/** Image Slider **/
.slider .indicators .indicator-item.active {
	background-color: #9c27b0;
}

/**SCROLLSPY**/
.table-of-contents a.active {
	border-left: 2px solid #9c27b0 !important;
}

.table-of-contents a:hover {
	border-left: 1px solid #9c27b0 !important;
}

.progress div {
	background-color: #8e24aa;
}
