// Colors
$accent-color: #bb86fc;

// ComboBox
$combobox-border-color: $accent-color;

// Carousel
$carousel-dots-color: $accent-color;
$carousel-dots-color-inactive: rgba($accent-color, 0.23);

// TimePicker
$time-picker-button-color: $accent-color;
$time-picker-highlight-number-color: #d6b5ff;

// Rating
$rating-color: $accent-color;

// Rich Editor
$rich-editor-button-color: $accent-color;

// Stepper
$stepper-active-color: $accent-color;

// Tree Item
$tree-item-color: $accent-color;