// Group Toggle Button
$group-toggle-button-bg-color: $secondary-color !default;

// Progress Line Bar
$progress-line-bar-color: #e9e9e9 !default;
$progress-line-bar-active-color: $secondary-color !default;

// Timer Progress
$timer-progress-bg-color: $secondary-color !default;
$timer-progress-initial-duration: 6s;
$timer-progress-bouncing-duration: 1.5s;

// Date Range
$date-range-bg-color: $primary-color;