$accent-color: #bb86fc;

// Date Range Picker
$date-range-color: $accent-color;

// Group Toggle
$group-toggle-button-bg-color: $accent-color;

// Progress Line Bar
$progress-bar-color: $accent-color;

// Screen Keyboard
$screen-keyboard-button-color: $accent-color;

// Timer Progress
$timer-progress-bg-color: $accent-color;