/** Blockquote **/
blockquote {
    border-left: 5px solid #ef5350 !important;
}

.multiValueSuggestBox-panel:focus {
    border-bottom: 2px solid #ef5350 !important;
}

/** Image Slider **/
.slider .indicators .indicator-item.active {
    background-color: #f44336;
}

/**SCROLLSPY**/
.table-of-contents a.active {
    border-left: 2px solid #f44336 !important;
}

.table-of-contents a:hover {
    border-left: 1px solid #f44336 !important;
}

.progress div {
    background-color: #e53935;
}
